.datetime {
  color: #f012be;
}

.string {
  color: #0074d9;
}

.number {
  color: #b10dc9;
}

.boolean {
  color: #ff851b;
}

.null {
  color: #ff4136;
}

.type {
  color: var(--light-gray);
}

.toolbar {
  padding: 2px 0 0 15px;
}

.transparent {
  opacity: 0;
}

.fluid {
  width: 100%;
}

:root {
  --delete: #fd0954;
  --light-gray: #aaaaaa;
}

.del-space {
  width: 40px;
}

.del-space:hover {
  cursor: pointer;
}

.del-space:focus {
  outline: none;
}

.fa-times {
  color: var(--light-gray);
  font-size: 1.2em;
}

.fa-times:hover {
  cursor: pointer;
  color: var(--delete);
}

.synth-link:hover {
  cursor: pointer;
}

.modal-input {
  margin: 0 0.6em;
  padding: 0 3px;
}

input:focus {
  outline-color: none;
}

button {
  color: #2a2a2a;
  letter-spacing: 1px;
  background-color: white;
  border: 1px solid #2a2a2a;
  margin-right: 0.6em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  font-size: 0.9em;
  /* -webkit-transition: color 0.1s, background-color 0.1s, border-top 0.1s, border-bottom 0.1s, border-color 0.1s;
  transition: color 0.1s, background-color 0.1s, border-top 0.1s, border-bottom 0.1s, border-color 0.1s; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: 0;
}

.vcenter {
  display: flex;
  align-items: center;
}

.opt-input:focus {
  outline: none;
}

.opt-input {
  margin-left: 8px;
  width: 100%;
  padding: 2px 6px;
}

.collection:hover {
  cursor: pointer;
}

.db-table {
  width: 100%;
  table-layout: fixed;
  /* border-collapse: collapse; */
}

.db-table th {
  font-weight: 600;
}

.db-table th,
.db-table td {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.hspread {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.divider {
  margin: 0 10px;
}

.nav-arrow {
  margin: 0 10px;
}

.nav-arrow:hover {
  cursor: pointer;
}

a {
  color: #212529;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.document {
  /* padding: 10px; */
  /* border: 1px solid #555; */
  /* border-radius: 10px; */
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.document:focus {
  outline: none;
}

.toggle:hover {
  cursor: pointer;
}

.indent {
  margin-left: 20px;
}

.crumbs {
  margin-bottom: 12px;
}

.crumbs .active {
  color: var(--link-color);
}

.crumbs a {
  color: inherit;
}

.crumbs a:hover {
  color: inherit;
}

.crumbs i {
  margin: 0 10px;
}

.db-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.db-title {
  display: flex;
  align-items: center;
}

.db-title i {
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.db-title i:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.mb-16 {
  margin-bottom: 16px;
}

.loader-wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
